* {margin: 0;
   padding: 0;
}
body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);    
    font-family:'Cormorant Garamond', serif;
    font-size: large;

}
a:link, a:visited, a:active {
    text-decoration:none;
}
a{ color:inherit;}
     
.contenedor{
    display: grid;
    width: 95%;
    max-width: 2000px;
    margin: 20px auto;    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;   
    gap: 15px;      
    grid-template-areas:"menu menu boton"  
                        "foto nombre datos"
                        "formacion experiencia informacion"                       
                        
}
.item{
    background-color: rgb(191, 179, 245);        
    padding: 0.5rem;    
    color:#1f1f1f;
    text-align: center ;
    border-radius: 35px;
    border: 3px solid ;
}
.menu{
    display: grid;
    width: 90%;
    max-height: 100px;    
    justify-content: center;
    justify-self: center;
    align-self: center;
    grid-area: menu;
    font-weight: bold;
    padding: 0.5rem;
}
.menu ul{
    display:flex;
    flex-direction: row;
    margin: 5px;
    padding: 0%;
}

.menu ul li{
    list-style: none;    
    font-size: auto;
    padding-bottom: 20px;
    text-align: center;
    flex:1;
    justify-self: center;
    align-content: center;
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;

}
.perfil{
    width: 250px;    
    border-radius: 50%;
    text-align:center; 
    height: 350px;
    display:center;
    place-content: center;  

}
.Foto{
    display: flex;     
    justify-content:center;
    align-items: center;
    position: relative;
    display: grid;    
    justify-content: center;
    grid-area: foto;
    background-color: transparent;
}
  
.item ul li {
    text-align: left;
    list-style: none;
      
}
.nombre{
    text-align: center;
    display: grid;    
    justify-content: center;
    grid-area: nombre;   
}
.datos{    
    justify-content: center;
    grid-area: datos;
}
    
.formacion{   
    justify-content: center;
    grid-area: formacion;
}
.experiencia{    
    justify-content: center;
    grid-area: experiencia;
    
    
}    
.informacion{    
    justify-content: center;
    grid-area: informacion;
}       

div h1 {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.lineal{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content:left;
    
        
}
div h2{
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.texto{
    font-size: larger;
    font-weight: bold;
}
.oscuro{
    background: #1f1f1f;
    
}
.oscuro .item{ 
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
    color: beige;   
} 
.boton{
    background:rgb(191, 179, 245); 
    border-radius: 50%;
    cursor: pointer;    
    border:black;
    text-align:center;       
    margin-top: 10px;    
    padding-bottom: 10px;
    grid-area: boton;
    max-width: fit-content;
    align-self: center;
    justify-self: center;
    border: 3px solid ;
     
}
@media screen and (max-width: 768px){  
.contenedor {
        grid-template-areas:"menu menu"  
                            "foto nombre"
                            "boton boton"
                            "datos datos"
                            "formacion formacion"
                            "experiencia experiencia"
                            "informacion informacion";
}                    

.menu{
        display: none;
    }

}


    
    


